<ion-header style="z-index: 0;">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-img (click)="back()" class="back" src="assets/images/back.png"></ion-img>
        </ion-buttons>
        <ion-title>Add Product</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <div class="img_div">
        <ion-grid>
            <ion-row>
                <ion-col></ion-col>
                <ion-col><img *ngIf="base64" [src]="base64" /></ion-col>
                <ion-col></ion-col>
            </ion-row>
            <ion-row>
                <ion-col></ion-col>
                <ion-col> <img class="upload_logo" (click)="pickImage()" src="assets/images/upload.png" /></ion-col>
                <ion-col></ion-col>
            </ion-row>
            <ion-row>
                <ion-col></ion-col>
                <ion-col style="text-align: center;">
                    <ion-label>Upload Image</ion-label>
                </ion-col>
                <ion-col></ion-col>
            </ion-row>
        </ion-grid>
        <!-- <img *ngIf="base64" [src]="base64" /><br />
        <img (click)="pickImage()" src="assets/images/upload.png" /><br />
        <ion-label>Upload Image</ion-label> -->

    </div>

    <br />
    <ion-list>
        <ion-list-header>Product Info</ion-list-header>
        <ion-item>
            <ion-label position="stacked">Product Name</ion-label>
            <ion-input [(ngModel)]="proObj.proName"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">Product Description</ion-label>
            <ion-textarea [(ngModel)]="proObj.proDescription"></ion-textarea>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">Shop</ion-label>
            <!-- <ion-input [disabled]="true" [(ngModel)]="shop"></ion-input> -->
            <ion-select [disabled]="shopDisabled" [(ngModel)]="shop">
                <ion-select-option *ngFor="let key of keys" [value]="key">
                    {{obj[key].shopName}}
                </ion-select-option>

            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">Category</ion-label>
            <ion-select [(ngModel)]="proObj.category">
                <ion-select-option value="foods">
                    Foods
                </ion-select-option>
                <ion-select-option value="drinks">
                    Drinks
                </ion-select-option>
            </ion-select>

        </ion-item>
        <ion-item>
            <ion-label position="stacked">Price(in peso)</ion-label>
            <ion-input type="tel" [(ngModel)]="proObj.price"></ion-input>
        </ion-item>
        <br/>
        <ion-button (click)="uploadImage()" expand="full">{{btnText}}</ion-button>
    </ion-list>
</ion-content>