<ion-header style="z-index:0;">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button>
                <img src="assets/images/menu.png" />
            </ion-menu-button>
        </ion-buttons>
        <ion-title>
            Rider
        </ion-title>

    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-list-header>Rider Info</ion-list-header>
        <ion-item>
            <ion-label position="stacked">Rider Name</ion-label>
            <ion-input [(ngModel)]="riderObj.name"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">Email</ion-label>
            <ion-input type="email" [(ngModel)]="riderObj.email"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">Mobile</ion-label>
            <ion-input type="tel" [(ngModel)]="riderObj.mobile"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">Password</ion-label>
            <ion-input type="text" [(ngModel)]="riderObj.pwd"></ion-input>
        </ion-item>
        <br/>
        <ion-button (click)="manageRider()" expand="full">Submit</ion-button>
    </ion-list>
</ion-content>