<ion-header style="z-index:0;">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button>
                <img src="assets/images/menu.png" />
            </ion-menu-button>
        </ion-buttons>
        <ion-title>
            Insights
        </ion-title>

    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-card>
        <ion-grid>
            <ion-row>
                <ion-col style="text-align: center;">
                    <p style="color: rgba(0, 0, 0, 0.5);
                  ">Orders</p>
                    <p style="color: rgba(0, 0, 0, 1);
                  ">649</p>
                </ion-col>
                <ion-col style="text-align: center;">
                    <p style="color: rgba(0, 0, 0, 0.5);
                  ">Revenue</p>
                    <p style="color: rgba(0, 0, 0, 1);
                  ">₱ 10k</p>
                </ion-col>
                <ion-col style="text-align: center;">
                    <p style="color: rgba(0, 0, 0, 0.5);
                  ">Pending</p>
                    <p style="color: rgba(0, 0, 0, 1);
                  ">10</p>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>
    <ion-list>
        <ion-list-header style="color: rgba(0, 0, 0, 1);
      font-size: 20px;">Top Selling Products</ion-list-header>



        <ion-card>
            <ion-card-header>
                <ion-card-title>Bussin’ Burger</ion-card-title>
                <ion-card-subtitle>Snacks</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <ion-list>
                    <ion-item lines="none">
                        <ion-thumbnail slot="start">
                            <img src="assets/images/burger.png" />
                        </ion-thumbnail>
                        <ion-label style="font-size:14px;" slot="start">
                            <span style="color:rgba(0, 0, 0, 0.5);">Sold</span> <br /><b style="color:rgba(224, 22, 61, 1);">119</b></ion-label>
                        <ion-label class="ion-text-wrap" style="font-size:14px;" slot="end">
                            <span style="color:rgba(0, 0, 0, 0.5);">Revenue</span><br /> <b style="color:rgba(224, 22, 61, 1);">₱11,781</b></ion-label>
                    </ion-item>

                </ion-list>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-header>
                <ion-card-title>Bussin’ Burger</ion-card-title>
                <ion-card-subtitle>Snacks</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <ion-list>
                    <ion-item lines="none">
                        <ion-thumbnail slot="start">
                            <img src="assets/images/burger.png" />
                        </ion-thumbnail>
                        <ion-label style="font-size:14px;" slot="start">
                            <span style="color:rgba(0, 0, 0, 0.5);">Sold</span> <br /><b style="color:rgba(224, 22, 61, 1);">119</b></ion-label>
                        <ion-label class="ion-text-wrap" style="font-size:14px;" slot="end">
                            <span style="color:rgba(0, 0, 0, 0.5);">Revenue</span><br /> <b style="color:rgba(224, 22, 61, 1);">₱11,781</b></ion-label>
                    </ion-item>

                </ion-list>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-header>
                <ion-card-title>Bussin’ Burger</ion-card-title>
                <ion-card-subtitle>Snacks</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <ion-list>
                    <ion-item lines="none">
                        <ion-thumbnail slot="start">
                            <img src="assets/images/burger.png" />
                        </ion-thumbnail>
                        <ion-label style="font-size:14px;" slot="start">
                            <span style="color:rgba(0, 0, 0, 0.5);">Sold</span> <br /><b style="color:rgba(224, 22, 61, 1);">119</b></ion-label>
                        <ion-label class="ion-text-wrap" style="font-size:14px;" slot="end">
                            <span style="color:rgba(0, 0, 0, 0.5);">Revenue</span><br /> <b style="color:rgba(224, 22, 61, 1);">₱11,781</b></ion-label>
                    </ion-item>

                </ion-list>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-header>
                <ion-card-title>Bussin’ Burger</ion-card-title>
                <ion-card-subtitle>Snacks</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <ion-list>
                    <ion-item lines="none">
                        <ion-thumbnail slot="start">
                            <img src="assets/images/burger.png" />
                        </ion-thumbnail>
                        <ion-label style="font-size:14px;" slot="start">
                            <span style="color:rgba(0, 0, 0, 0.5);">Sold</span> <br /><b style="color:rgba(224, 22, 61, 1);">119</b></ion-label>
                        <ion-label class="ion-text-wrap" style="font-size:14px;" slot="end">
                            <span style="color:rgba(0, 0, 0, 0.5);">Revenue</span><br /> <b style="color:rgba(224, 22, 61, 1);">₱11,781</b></ion-label>
                    </ion-item>

                </ion-list>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-header>
                <ion-card-title>Bussin’ Burger</ion-card-title>
                <ion-card-subtitle>Snacks</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <ion-list>
                    <ion-item lines="none">
                        <ion-thumbnail slot="start">
                            <img src="assets/images/burger.png" />
                        </ion-thumbnail>
                        <ion-label style="font-size:14px;" slot="start">
                            <span style="color:rgba(0, 0, 0, 0.5);">Sold</span> <br /><b style="color:rgba(224, 22, 61, 1);">119</b></ion-label>
                        <ion-label class="ion-text-wrap" style="font-size:14px;" slot="end">
                            <span style="color:rgba(0, 0, 0, 0.5);">Revenue</span><br /> <b style="color:rgba(224, 22, 61, 1);">₱11,781</b></ion-label>
                    </ion-item>

                </ion-list>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-header>
                <ion-card-title>Bussin’ Burger</ion-card-title>
                <ion-card-subtitle>Snacks</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <ion-list>
                    <ion-item lines="none">
                        <ion-thumbnail slot="start">
                            <img src="assets/images/burger.png" />
                        </ion-thumbnail>
                        <ion-label style="font-size:14px;" slot="start">
                            <span style="color:rgba(0, 0, 0, 0.5);">Sold</span> <br /><b style="color:rgba(224, 22, 61, 1);">119</b></ion-label>
                        <ion-label class="ion-text-wrap" style="font-size:14px;" slot="end">
                            <span style="color:rgba(0, 0, 0, 0.5);">Revenue</span><br /> <b style="color:rgba(224, 22, 61, 1);">₱11,781</b></ion-label>
                    </ion-item>

                </ion-list>
            </ion-card-content>
        </ion-card>
    </ion-list>
</ion-content>